@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto mono", mono space;
}

p {
  font-family: "Roboto mono", mono space;
}

#test0 {
  border-style: dashed;
  margin-top: -50px;
  margin-right: 150px;
  margin-left: 180px;
  text-align: center;
}

#test1 {
  line-height: 70px;
  background-color: #cc9202;
  margin-top: 155px;
  margin-right: 150px;
  margin-left: 170px;
  padding-left: 30px;
  font-size: 17px;
  text-align: left;
}
#test2 {
  line-height: 50px;
  background-color: #8ecae6;
  font-size: 20px;
  margin-right: 150px;
  margin-left: 180px;
  text-align: center;
}

#test3 {
  font-size: 20px;
  text-align: center;
  margin-inline: 7px;
}

#test4 {
  line-height: 50px;
  background-color: #8ecae6;
  font-size: 20px;
  margin-right: 150px;
  margin-left: 180px;
  text-align: center;
}

#test5 {
  text-align: center;
}

#test6 {
  align-items: center;
  margin-bottom: 50px;
}

#table1 {
  margin: auto;
  font-family: arial, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
}

th {
  border: 1px solid black;
  width: 5em;
}
tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

#tr1 {
  font-family: "Roboto mono", mono space;
}

#action1 {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: rgba(9, 6, 46, 1);
  color: white;
  text-align: left;
  font-size: 15px;
  border: 2px solid rgba(9, 6, 46, 1);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
#action1:hover {
  background-color: rgb(105, 88, 163);
  cursor: pointer;
  border: 2px double white;
}

#action2 {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: rgba(9, 6, 46, 1);
  color: white;
  text-align: left;
  font-size: 14px;
  border: 2px solid rgba(9, 6, 46, 1);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
#action2:hover {
  background-color: rgb(105, 88, 163);
  cursor: pointer;
  border: 2px double white;
}

#action3 {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: rgba(9, 6, 46, 1);
  color: white;
  text-align: left;
  font-size: 14px;
  border: 2px solid rgba(9, 6, 46, 1);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
#action3:hover {
  background-color: rgb(105, 88, 163);
  cursor: pointer;
  border: 2px double white;
}
.action4 {
  background-color: rgb(251, 166, 27);
  color: floralwhite;
}
.action4:hover {
  background-color: rgb(11, 30, 71);
  cursor: pointer;
  border: 2px double white;
}
.nom_mort {
  background-color: darkslategray;
}

.tr_demandant_base1 {
  background-color: rgb(53, 126, 30);
}
.nom_bt_passer {
  text-decoration: line-through;
  background-color: darkslategrey;
  opacity: 0.5;
}
